body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:#f1faee ;
}
/* UTILITIES */

img{
    width: 100%;
}

/* CONTAINER */

.ft-container{
    height: 100vh;
    margin: 30px 0;
}

.container img{
    width: 60%;
}

/* HEADER */
header, nav{
    margin-bottom: 30px;
}

/* NAV */
nav input{
    margin: 0px 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 20px -10px;
    padding: 5px 10px;
}

nav button{
    margin: 0px 10px;
    border-radius: 20px;
    background-color: #457b9d;
    color: white;
    width: 100px;
    border: none;
    padding: 10px auto;   
    border: 4px solid #82b4d300;
}
nav button:hover{
    border: 4px solid #8ec8eb;
}

.error{
    color: red;
}


/* MAIN */
main .container{
    width: 60%;
}
main .container ul{
    padding: 20px 20px;
    background-color: #a8dadc;
    border-radius: 20px;
}


main .container li{
    /* border-bottom: 1px solid #457b9d70; */
    padding: 10px 20px;
    font-size: 1.1rem;
    margin-bottom: 0px;
    cursor: pointer;
    border-radius: 15px;
}
.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main .container li:hover{
    background-color: #82b4d3;
}
.task.done span{
    text-decoration: line-through;
    color: red;
}

main .container li span:hover{
    color: #457b9d;
}

main .container ul i:hover{
    color:#07a97e;
}
